In [1]:
!pip install pandas

Pandas Cheat Sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

We will use `pandas` to read the csv file.

In [6]:
df = pd.read_csv('data.csv')
df.head()

,Reference,DOI,Final_Alginate_Conc_(%w/v),Final_Gelatin_Conc_(%w/v),Final_GelMA_Conc_(%w/v),Final_Hyaluronic_Acid_Conc_(%w/v),Final_MeHA_Conc_(%w/v),Final_NorHA_Conc_(%w/v),Final_Fibroin/Fibrinogen_Conc_(%w/v),Final_P127_Conc_(%w/v),...,Saline_Solution_Used?,EtOH_Solution_Used?,Photoinitiator_Used?,Enzymatic_Crosslinker_Used?,Matrigel_Used?,Conical_or_Straight_Nozzle,Primary/Not_Primary,Viability_at_time_of_observation_(%),Acceptable_Viability_(Yes/No),Acceptable_Pressure_(Yes/No)
0,Fedorovich et. al. 2008,10.1089/ten.a.2007.0158,2.0,0.0,0.0,0.0,0,0,0.0,0,...,N,N,N,N,N,S,Primary,96.0,Y,Y
1,Fedorovich et. al. 2008,10.1089/ten.a.2007.0158,2.0,0.0,0.0,0.0,0,0,0.0,0,...,N,N,N,N,N,S,Primary,72.0,N,N
2,Fedorovich et. al. 2008,10.1089/ten.a.2007.0158,2.0,0.0,0.0,0.0,0,0,0.0,0,...,N,N,N,N,N,S,Primary,80.0,Y,Y
3,Fedorovich et. al. 2008,10.1089/ten.a.2007.0158,0.0,0.0,0.0,0.0,0,0,0.0,0,...,N,N,N,N,N,S,Primary,96.0,Y,Y
4,Fedorovich et. al. 2008,10.1089/ten.a.2007.0158,0.0,0.0,0.0,0.0,0,0,0.0,0,...,N,N,N,N,N,S,Primary,77.0,N,N

In [7]:
df.shape

(617, 51)

Extract column names as python list.

In [10]:
df.columns.tolist()[:5]

['Reference',
 'DOI',
 'Final_Alginate_Conc_(%w/v)',
 'Final_Gelatin_Conc_(%w/v)',
 'Final_GelMA_Conc_(%w/v)']

Get a quick summary of the data using `df.describe()` and `df.info()`.

In [12]:
df.describe()

,Final_Alginate_Conc_(%w/v),Final_Gelatin_Conc_(%w/v),Final_GelMA_Conc_(%w/v),Final_Hyaluronic_Acid_Conc_(%w/v),Final_MeHA_Conc_(%w/v),Final_NorHA_Conc_(%w/v),Final_Fibroin/Fibrinogen_Conc_(%w/v),Final_P127_Conc_(%w/v),Final_Collagen_Conc_(%w/v),Final_Chitosan_Conc_(%w/v),...,Extrusion_Rate_Volume-wise_(mL/s),Nozzle_Movement_Speed_(mm/s),Inner_Nozzle_Outer_Diameter_(Âµm),Outer_Nozzle_Inner_Diameter_(Âµm),Fiber_Spacing_(Âµm),Cell_Density_(cells/mL),Syringe_Temperature_(Â°C),Substrate_Temperature_(Â°C),Days_Observed,Viability_at_time_of_observation_(%)
count,617.000000,617.000000,617.000000,617.000000,617.000000,617.000000,617.000000,617.000000,616.000000,617.000000,...,196.000000,287.000000,617.000000,600.000000,227.000000,6.070000e+02,396.000000,503.000000,617.000000,617.000000
mean,2.411345,2.103890,1.322528,0.109887,0.024311,0.019449,0.145057,0.145867,0.104724,0.012966,...,0.111640,17.179005,72.693679,450.663067,1069.601591,4.452725e+06,20.815657,20.245527,4.272654,79.907917
std,2.466205,4.836709,3.563733,0.428243,0.348082,0.196423,0.807978,2.088494,0.547714,0.160641,...,0.357266,39.980936,192.694088,323.353162,923.103754,4.865416e+06,9.542383,6.566459,6.314360,16.974252
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000083,0.666700,0.000000,101.600000,0.000000,1.000000e+05,4.000000,3.500000,0.000000,3.900000
25%,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001670,5.000000,0.000000,250.000000,500.000000,1.000000e+06,18.000000,22.000000,0.020800,70.300000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002240,6.670000,0.000000,337.000000,827.000000,2.500000e+06,22.000000,22.000000,1.000000,85.000000
75%,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.033300,15.000000,0.000000,500.000000,1400.000000,6.000000e+06,25.000000,22.000000,7.000000,93.200000
max,20.000000,50.000000,30.000000,2.000000,5.000000,2.000000,8.000000,30.000000,3.000000,2.000000,...,1.666667,235.000000,1067.000000,1600.000000,4000.000000,3.000000e+07,44.000000,37.000000,30.000000,100.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 51 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Reference                              617 non-null    object
 1   DOI                                    617 non-null    object
 2   Final_Alginate_Conc_(%w/v)             617 non-null    float64
 3   Final_Gelatin_Conc_(%w/v)              617 non-null    float64
 4   Final_GelMA_Conc_(%w/v)                617 non-null    float64
 5   Final_Hyaluronic_Acid_Conc_(%w/v)      617 non-null    float64
 6   Final_MeHA_Conc_(%w/v)                 617 non-null    int64
 7   Final_NorHA_Conc_(%w/v)                617 non-null    int64
 8   Final_Fibroin/Fibrinogen_Conc_(%w/v)   617 non-null    float64
 9   Final_P127_Conc_(%w/v)                 617 non-null    int64
 10  Final_Collagen_Conc_(%w/v)             616 non-null    float64
 11  Final_Chitosan_Conc_(%w/v)             617 non-null    int64
 12  Final_CS-AEMA_Conc_(%w/v)              617 non-null    int64
 13  Final_TCP_Conc_(%w/v)                  617 non-null    float64
 14  Final_Gellan_Conc_(%w/v)               617 non-null    int64
 15  Final_Nano/Methycellulose_Conc_(%w/v)  617 non-null    float64
 16  Final_PEGTA_Conc_(%w/v)                617 non-null    int64
 17  Final_PEGMA_Conc_(%w/v)                616 non-null    float64
 18  Final_PEGDA_Conc_(%w/v)                617 non-null    int64
 19  Final_Agarose_Conc_(%w/v)              617 non-null    float64
 20  CaCl2_Conc_(mM)                        583 non-null    float64
 21  NaCl2_Conc_(mM)                        613 non-null    float64
 22  BaCl2_Conc_(mM)                        617 non-null    int64
 23  SrCl2_Conc_(mM)                        617 non-null    int64
 24  Physical_Crosslinking_Durantion_(s)    482 non-null    float64
 25  Photocrosslinking_Duration_(s)         617 non-null    int64
 26  Extrusion_Pressure (kPa)               354 non-null    float64
 27  Extrusion_Rate_Lengthwise_(mm/s)       99 non-null     float64
 28  Extrusion_Rate_Volume-wise_(mL/s)      196 non-null    float64
 29  Nozzle_Movement_Speed_(mm/s)           287 non-null    float64
 30  Inner_Nozzle_Outer_Diameter_(Âµm)       617 non-null    int64
 31  Outer_Nozzle_Inner_Diameter_(Âµm)       600 non-null    float64
 32  Fiber_Diameter_(Âµm)                    331 non-null    object
 33  Fiber_Spacing_(Âµm)                     227 non-null    float64
 34  Cell_Density_(cells/mL)                607 non-null    float64
 35  Syringe_Temperature_(Â°C)               396 non-null    float64
 36  Substrate_Temperature_(Â°C)             503 non-null    float64
 37  Days_Observed                          617 non-null    float64
 38  Cell_Culture_Medium_Used?              617 non-null    object
 39  DI_Water_Used?                         617 non-null    object
 40  Precrosslinking_Solution_Used?         617 non-null    object
 41  Saline_Solution_Used?                  617 non-null    object
 42  EtOH_Solution_Used?                    617 non-null    object
 43  Photoinitiator_Used?                   617 non-null    object
 44  Enzymatic_Crosslinker_Used?            617 non-null    object
 45  Matrigel_Used?                         617 non-null    object
 46  Conical_or_Straight_Nozzle             588 non-null    object
 47  Primary/Not_Primary                    617 non-null    object
 48  Viability_at_time_of_observation_(%)   617 non-null    float64
 49  Acceptable_Viability_(Yes/No)          617 non-null    object
 50  Acceptable_Pressure_(Yes/No)           617 non-null    object
dtypes: float64(24), int64(12), object(15)
memory usage: 246.0+ KB

Accessing the data using `df['column_name']` or `df.column_name`:

In [17]:
col = df['CaCl2_Conc_(mM)']
print(col)

0      100.0
1      100.0
2      100.0
3        0.0
4        0.0
       ...
612    100.0
613    100.0
614    100.0
615    100.0
616    100.0
Name: CaCl2_Conc_(mM), Length: 617, dtype: float64

Compute stats for a single column:

In [19]:
print(f"mean: {col.mean()}, std: {col.std()}, min: {col.min()}, max: {col.max()}")

mean: 104.56224699828473, std: 185.94956086301605, min: 0.0, max: 901.1

In [22]:
df['DOI'].value_counts()

DOI
10.1002/mabi.201600472          42
10.1115/1.4024575               30
10.1007/s10439-016-1704-5       30
10.1089/ten.a.2007.0004         21
10.1038/s41598-018-26407-3      20
                                ..
10.18063/ijb.v6i1.250            2
10.3390/polym12102346            2
10.1088/1758-5090/8/4/045005     1
10.1007/s00289-020-03421-y       1
10.1088/1758-5090/ab38ef         1
Name: count, Length: 75, dtype: int64

Dropping columns using `df.drop()`:

In [27]:
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=["A", "B", "C", "D"])
df.drop(columns=["A", "B"])

    C   D
0   2   3
1   6   7
2  10  11

In [28]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

As we can see, `drop` returns a new dataframe with the column dropped. To drop the column in place, we can use the `inplace=True` argument.

In [29]:
df.drop(columns=["A", "B"], inplace=True)

In [30]:
df

    C   D
0   2   3
1   6   7
2  10  11

In [73]:
from sklearn.datasets import load_iris

df = load_iris(as_frame=True).frame
target = df.pop("target")                   # remove the target column from the dataframe

# randomly add missing values to the dataframe
df = df.mask(np.random.random(df.shape) < 0.1)
print(df.head())

#Check for missing values
print(df.isnull().sum())

#Drop rows with missing valiues and place it in a new variable "df_cleaned"
df_cleaned = df.dropna()
print(df_cleaned.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               NaN
2                4.7               3.2                1.3               0.2
3                4.6               3.1                NaN               0.2
4                5.0               3.6                1.4               0.2
sepal length (cm)    16
sepal width (cm)     16
petal length (cm)    17
petal width (cm)     16
dtype: int64
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
2                4.7               3.2                1.3               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
7                5.0               3.4                1.5               0.2

In [74]:
# Replace missing values in a specific column:
df['sepal length (cm)'] = df['sepal length (cm)'].fillna(df['sepal length (cm)'].mean())

In [75]:
df.isnull().sum()

sepal length (cm)     0
sepal width (cm)     16
petal length (cm)    17
petal width (cm)     16
dtype: int64

Create one-hot encoding for categorical columns using `pd.get_dummies()`:

In [78]:
target_categorical = pd.get_dummies(target)
target_categorical

         0      1      2
0     True  False  False
1     True  False  False
2     True  False  False
3     True  False  False
4     True  False  False
..     ...    ...    ...
145  False  False   True
146  False  False   True
147  False  False   True
148  False  False   True
149  False  False   True

[150 rows x 3 columns]

In [ ]:
#pycascades is helpfull